.header {
  border-bottom: 5px solid black;
  background-image: url('images/bg7.jpg');
  height: 150px;
}
.body {
  height: 850px;
  background-image: url('images/bg2.png');
  position: relative;
  border-top: 5px solid black;
}
.body_container {
  width: 1252px;
}
#pan_africanism_body {
  height: 1100px;
}
#about_pan_africanism {
  height: 550px;
}
.slide_pic_dimensions {
  width: 100%;
  max-height: 450px;
}
.categories {
  background-image: url('images/bg16.jpg');
  width: 20%;
  height: 850px;
  float: left;
}
.contents {
  width: 57%;
  height: 850px;
  float: left;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: black black black black;
}
.side_panel {
  float: right;
  width: 23%;
  height: 850px;
  float:left;
}
.center_panel {
  width: 100%;
  height: 350px;
  float: left;
}
.cal_center_panel {
  width: 100%;
  height: 310px;
  float: left;
}
.footer {
  height: 150px;
  width: 100%;
  background-image: url('images/bg7.jpg');
	text-align:left;
	text-decoration:none;
}
.foot_spacer {
  height:100px;
  width: 100%;
  background-image: url('images/bg7.jpg');
  border-color:black #888 #666 #aaa;
  border-width:0px 4px 4px 3px;
}
#green_book {
  height:810px;
  width: 100%
}
#f1 {
  height:110px;
  width: 100%;
}
#f2 {
  height:40px;
  width: 100%;
  border-top: 1px solid black;
}
.category {
  width: 100%;
  height: 90px;
	text-align:center;
	text-decoration:none;
}
h1 {
  color: #990000;
  font-family: Impact, Charcoal, sans-serif;
}
h2 {
  color: #990000;
  font-family: "Times New Roman", Times, serif;
}
h3 {
  color: green;
  font-family: Impact, Charcoal, sans-serif;
}
h4 {
  color:#cccc08;
  font-family: Palatino, Palatino Linotype, Serif;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}
.category:hover {
  background-color: #990000;
}
a {
  color: green;
}
a:hover {
  text-decoration: none;
}

.footer_paragraph {
  color: green;
  font-family: 'Merienda One', Helvetica, sans-serif;
  font-size:24px;
}

#l_pic {
  width: 13%;
  height: 100%;
  float: left;
}
#r_pic {
  width: 13%;
  height: 100%;
  float: right;
}
#conf_name {
  width: 74%;
  height: 100%;
  float: left;
}
#p_a_h2 {
  float: left;
}
#myCarousel {
  float: left;
  height: 500px;
  width: 100%
}
.carousel-inner{
  width:100%;
  max-height: 500px !important;
}
#pa {
  height:100px;
}
#map {
  width:100%;
  height:500px;
  border:5px solid grey;
  float:left;
}
#parking {
  width: 57%;
  height: 400px;
  float:left;
}
#x_calendar {
  width:100%;
  height:540px;
  float:left;
}
#side_panel_1 {
  width: 100%;
  height: 550px;
  float:left;
}
#side_panel_2 {
  width:100%;
  height:300px;
  float:left;
}
#todo_body {
  height: 5000px;
}
#hotel_comparison {
  color: black;
  font-style: oblique;
  font: 15px;
}
#spaces_description {
  color: #990000;
  font-style: oblique;
  font-size: 17px;
}
#gaddafi_infor {
  height: 1050px;
}
#gaddafi_body{
  height: 1600px;
}
.home_plaque_div {
  height: 150px;
  overflow:auto;
}
.home_plaque {
  color: #990000;
  font-weight: bold;
  font-family: 'Tangerine',serif;
  font-size: 40px;
}
.side_panel_bg {
  background-image: url('images/bg16.jpg');
}
.yellow_text {
  color:#cccc08;
}
.padded_blocks {
  display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	line-height:2;
  font-weight:900;
}
